* {
    margin: 0;
    padding: 0;
    color: var(--text);
    font-weight: 500;
    font-family: "Source Code Pro", monospace;
}

:root {
    --dark: #2F343F;
    --almost-black: #21252B;
    --bg: #2e2f43;
    --bg-accent: #474E68;
    --accent: #50577A;
    --accent-b: #6B728E;
    --text: #bebebe;
    --link: #739FCC;
    --link-hover: #3477c1;
    --green: #3be12a;
    --brown-yellow: #B49F00;
}

body {
    background-color: var(--almost-black);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: var(--link);
    font-weight: 600;
    text-decoration: none;
}

.portfolio {
    color: var(--link);
    font-weight: 600;
    text-decoration: none;
}

.dot {
    color: var(--link);
    font-weight: 600;
}

.dotfiles {
    color: var(--link);
    font-weight: 600;
    text-decoration: none;
    -webkit-text-fill-color: var(--link)
}

.dotfiles:hover {
    color: var(--link-hover);
}

a:hover, a:focus {
    color: var(--link-hover);
}

.dir:before {
    content: ".";
}

.dir:after {
    content: "/";
}

.add-braces::before {
    content: "{";
}

.add-braces::after {
    content: "}";
}

.content {
    position: absolute;
    margin:.3%;
    border: 1px solid var(--bg);
    border-radius: 5px;
    height: 95%;
    width: 97%;
    padding: 5px;
    overflow: auto;
}

.prefix {
    margin: 5px 0;
}


.ls-content {
    margin: 5px 0;

}

.full {
    margin-top: 2px;
    font-size: 20px !important;
}

.minimize {
    top: 5px;
}

.home {
    color: var(--green);
    font-weight: 550;
}

.cmd {
    font-weight: 500;
    color: var(--green);
}

.grey {
    color: var(--accent)
}

.yellow {
    color: var(--brown-yellow);
}

.salty-logo {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rst {
    background: none;
    color: var(--text);
    -webkit-text-fill-color: var(--text);
}

/* Do something with the logo */
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.term-input {
    background-color: transparent;
    border: 0 transparent;
    color: transparent;
    font-size: 1px !important;
}

.term-input:focus, .term-input:focus-visible {
    outline: none;
}

#terminal-content {
    height: auto;
    display: flex;
    flex-direction: column;
}

@keyframes blink-animation {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

.cursor {
    display: inline-block;
    position: relative;
    height: 18px;
    width: 8px;
    top: 3px;
    animation: blink-animation 1s steps(3) infinite;
    background-color: #fff;
}

/* Command Styling */
.help-apex {
    font-weight: 550;
    font-size: 1.5rem;
}

.help-desc {
    font-size: .8rem;
}

.help-desc::before {
    content: "- ";
}

.help-items {
    margin-top: 5px;
}

.help-items::before {
    content: "> ";
}

.help-arg {
    font-weight: 600;
}
